.navigation-bar{
    background-color: dimgrey;
    color: chartreuse;
    display: flex;
    justify-content: center;
    font-size: 14px;

}
.navigation-list{
    margin: 7px;
    padding: 4px;
    display: flex;

}
ul li{
    list-style: none;
    padding-right: 27px;
}
.navigation-item{
    text-transform: capitalize;
}